.container{
    display: flex ;
    flex-direction: row;
    justify-content: right ;
    align-items: center;
  }
  
  body{
    margin: 0px;
  }
  
  .navbar {
    height: 60px;
    width: 100%;
    background-color:  black;
  }
  
  .item {
    margin: 10px;
    color: white;
  }


.formContainer{
    margin: 10px;
}


