.circleContainer
{
 height: 300px;
 width: 300px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: white;
  margin: auto;
  gap: 20px;
}

#circle:hover{
  box-shadow: 5px 5px lightgreen;
}

#circle{ 
  width:100px; 
  height:100px; 
  border-radius: 50%; 
  background-color: green;
  padding: 25px;
}

.whole{
  border: solid black 85px;
  height: 969px;
  background-color:beige;
}

#intro {
  text-align: center;
}

.container{
    display: flex ;
    flex-direction: row;
    justify-content: right ;
    align-items: center;
  }
  
  body{
    margin: 0px;
  }
  
  .navbar {
    height: 60px;
    width: 100%;
    background-color:  black;
  }
  
  .item {
    margin: 10px;
    color: white;
  }


.formContainer{
    margin: 10px;
    position: absolute;
    bottom: 0;
    width:85%;
   
}

@media screen and (max-width: 768px) {

  .whole{
    height: 1300px;
  }

  .navbar{
      height: 350px;
      text-align: center;
  }
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: solid 1px;
  }
  .item{
      margin: 20px;
  }
  .whole{
    border: 50px;
  }

  .images>img {
    display: none;
  }

}

.short-text { 
  display: none; 
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
  font-size: 50px;
}

@media (max-width: 768px) {
    .short-text { 
      display: inline-block; 
    }
}

.table{
  width: 50%;
  margin: 0px auto;
  border: solid 3px white;
}
th, tr {
  background-color: #96D4D4;
}

.images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}
.images>img{
  height: 300px;  
  margin-left: 100px;
  margin-right: 100px;
  
}

#one{
  grid-column-start: 1;
}
#two{
  grid-column-start: 2;
}
#three{
  grid-column-start: 1;
}
#four{
  grid-column-start: 2;
}



